.subscription .button, .social-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social.list, .address.list, .nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item-link:before, .nav-item-link:after, .nav-item-link.active:after {
  position: absolute;
  bottom: 0;
  display: block;
  content: '';
  background-color: #2196f3;
  height: 4px;
  width: 52%;
  border-radius: 2px;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo .active, .nav-item-link.active {
  color: #2196f3;
}

/* Button */
.button {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #ffffff;
  cursor: pointer;
  padding: 0;
  margin: 0;
  min-width: 200px;
  min-height: 50px;
  border: 1px transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.button.main, .subscription .button {
  color: #ffffff;
  background-color: #2196f3;
}

.our-works .button {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 6px 22px;
  min-width: 73px;
  min-height: 38px;
  letter-spacing: 0.03em;
  line-height: 1.62;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Global CSS */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
}

.page-header a {
  text-decoration: none;
}

.page-footer a {
  text-decoration: none;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 94px 15px;
}

.hero .container {
  margin: 0;
  padding: 0;
}

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.page-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 45px;
  padding-bottom: 28px;
}

.our-works .container {
  padding-top: 72px;
}

/* Social List */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer .social {
  padding: 0;
}

.page-footer .social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .social-item-link {
  background-color: #757575;
}

.social-item-link:hover, .social-item-link:focus {
  background-color: #2196f3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social-logo {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-link:hover .social-logo,
.social-item-link:focus .social-logo {
  fill: #ffffff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.page-footer .social-logo {
  fill: #ffffff;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  color: #212121;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-right: 85px;
}

.page-footer .logo {
  color: #ffffff;
  font-size: 22px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 0px;
  margin-bottom: 8px;
}

.page-footer {
  color: #ffffff;
  background-color: #2f303a;
}

/* Footer Join form */
.page-footer .join-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-footer .join {
  font-weight: 700;
  line-height: 0.87;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.page-footer .subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join-form-field {
  display: block;
  width: 358px;
  height: 50px;
  background-color: inherit;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.join-form-field::-webkit-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  color: inherit;
}

.join-form-field:-ms-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  color: inherit;
}

.join-form-field::-ms-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  color: inherit;
}

.join-form-field::placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  color: inherit;
}

.send-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
  -webkit-transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
  transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 1000ms, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
}

.subscription .button.main:hover .send-icon, .subscription .button:hover .send-icon,
.subscription .button.main:focus .send-icon,
.subscription .button:focus .send-icon {
  -webkit-transform: translateY(-200%) translateX(200%);
          transform: translateY(-200%) translateX(200%);
}

/* Address list */
.address-item {
  font-style: normal;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-item-link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item-link:hover, .address-item-link:focus {
  color: #2196f3;
}

/* Copy */
.copy {
  display: block;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  line-height: 2;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 21px;
}

/* Header */
.page-header {
  /* position: sticky;
  top: 0;
  z-index: 100; */
  background-color: #ffffff;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  border-bottom: 1px solid #ececec;
}

/* Contacts */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.page-header .contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item-link:hover, .contacts-item-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

/* Navigation */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item-link {
  position: relative;
  display: block;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:hover, .nav-item-link:focus {
  color: #2196f3;
}

.nav-item-link:before {
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav-item-link:hover:before, .nav-item-link:focus:before {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-item-link:after {
  right: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav-item-link:hover:after, .nav-item-link:focus:after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-item-link.active:after {
  width: 100%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */