/* Logo */
.logo {
  font-family: 'Raleway', sans-serif;
  color: $additional-text-color;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 85px;
}
.page-footer .logo {
  color: #ffffff;
  font-size: 22px;
  margin-right: 0px;
  margin-bottom: 8px;
}
