/* Button */
.button {
  $button-padding: 0;
  $button-margin: 0;
  $button-width: 200px;
  $button-height: 50px;

  color: $additional-text-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: $main-bg-color;
  cursor: pointer;

  padding: $button-padding;
  margin: $button-margin;

  width: $button-width;
  height: $button-height;
  border: 1px transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: $animation;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $active-color;
  }
}

.button.main {
  @extend .button;
  color: #ffffff;
  background-color: $active-color;
}
